<h1>{{cateportfolio.title}}</h1>

<div class="row">
	<div class="large-6 columns">
		<img src="/images/portfolio/{{cateportfolio.image}}">
	</div>

	<div class="large-6 columns">
		<ul>
			<li><strong>Project: </strong> {{cateportfolio.title}}</li>
			<li><strong>Service: </strong> {{cateportfolio.service}}</li>
			<li><strong>Client: </strong> {{cateportfolio.client}}</li>
			<li><strong>Date: </strong> {{cateportfolio.date}}</li>
		</ul>

		<hr/>
		<p>{{cateportfolio.description}}</p>

		<a class="button default" href="{{cateportfolio.url}}">Visit Website</a>

		<a class="button" href="/">Go Back</a>
	</div>	
</div>